
#logocard{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#entrarConta{
  font-size: 15px;
}
#card {
background: transparent;
backdrop-filter: blur(10px);
border-radius: 8px;
border: 1px solid gray;
color: white;
}
div {
  background-image: url(https://wallpapers.com/images/hd/horror-movie-collage-2560-x-1600-7rsxip7198v2wynq.jpg);
  background-size: cover;
  background-position:center
}