
#logocard{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#entrarConta{
  font-size: 15px;
}
#card {
background: transparent;
backdrop-filter: blur(10px);
border-radius: 8px;
border: 1px solid gray;
color: white;
}
div {
  background-image: url(https://i.pinimg.com/1200x/07/6b/b9/076bb9e61fc5ae8e6bf131bafbd73b3f.jpg);
  background-size: cover;
  background-position:center
}